format = '''
$character$directory$git_branch
'''
[fill]
symbol = ' '

[directory]
style = 'cyan'
truncation_length = 2
truncate_to_repo = true

[git_branch]
format = '[$branch(:$remote_branch) ](purple) '

[line_break]
disabled = true

[character]
success_symbol = '[](green) '
error_symbol = '[](red) '

[time]
disabled = false
format = '[$time](yellow)'
